<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Index.css">
</head>
<body>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Welcome to the Application Status Tracker!</h2>

    <div id="taskGrid" style="border: 1px solid black; height:400px; width:100%;">
        <table style="border-collapse:collapse; border:1px dotted black; height:350px; width:98%; margin-left:10px; margin-right:10px;">
            <tbody>
                <tr>
                    <td>Application</td>
                    <td>Status</td>
                    <td>Edit</td>
                    <td>Attachment</td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="3" value="2">
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>

